<a href="https://colab.research.google.com/github/DASARI02/.PY/blob/main/Market_Basket_Analysis_in_Python_using_Apriori_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5976 sha256=7860c7ee6a18163376ce5919b61aa4aa253d35eea17f2c36f7ce33c5cb250682
  Stored in directory: /root/.cache/pip/wheels/c4/1a/79/20f55c470a50bb3702a8cb7c94d8ada15573538c7f4baebe2d
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [7]:
import pandas as pd
import numpy as np
from apyori import apriori

In [8]:
df = pd.read_csv('/content/Market_Basket_Optimisation.csv')

In [9]:
df.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.fillna(0,inplace=True)

In [11]:
df.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
1,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
2,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
3,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
4,low fat yogurt,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0

In [12]:
transactions = []

for i in range(0,len(df)):
    transactions.append([str(df.values[i,j]) for j in range(0,20) if str(df.values[i,j])!='0'])

In [13]:
transactions[0]

['burgers', 'meatballs', 'eggs', '0.0']

In [14]:
transactions[1]

['chutney', '0.0']

In [15]:
rules = apriori(transactions, min_support=0.003, min_confidance=0.2, min_lift=3, min_length=2)

In [16]:
rules

In [ ]:
Results = list(rules)
Results

In [18]:
df_results = pd.DataFrame(Results)

In [19]:
df_results.head()

,items,support,ordered_statistics
0,"(cottage cheese, brownies)",0.003467,"[((brownies), (cottage cheese), 0.102766798418..."
1,"(light cream, chicken)",0.004533,"[((chicken), (light cream), 0.0755555555555555..."
2,"(mushroom cream sauce, escalope)",0.005733,"[((escalope), (mushroom cream sauce), 0.072268..."
3,"(pasta, escalope)",0.005867,"[((escalope), (pasta), 0.07394957983193277, 4...."
4,"(fresh bread, tomato juice)",0.004267,"[((fresh bread), (tomato juice), 0.09907120743..."

In [20]:
support = df_results.support

In [21]:
first_values = []
second_values = []
third_values = []
fourth_value = []
for i in range(df_results.shape[0]):
    single_list = df_results['ordered_statistics'][i][0]
    first_values.append(list(single_list[0]))
    second_values.append(list(single_list[1]))
    third_values.append(single_list[2])
    fourth_value.append(single_list[3])

In [22]:
lhs = pd.DataFrame(first_values)
rhs = pd.DataFrame(second_values)

confidance=pd.DataFrame(third_values,columns=['Confidance'])

lift=pd.DataFrame(fourth_value,columns=['lift'])

In [23]:
df_final = pd.concat([lhs,rhs,support,confidance,lift], axis=1)
df_final

,0,1,0,1,2,3,support,Confidance,lift
0,brownies,None,cottage cheese,None,None,None,0.003467,0.102767,3.238450
1,chicken,None,light cream,None,None,None,0.004533,0.075556,4.843305
2,escalope,None,mushroom cream sauce,None,None,None,0.005733,0.072269,3.790327
3,escalope,None,pasta,None,None,None,0.005867,0.073950,4.700185
4,fresh bread,None,tomato juice,None,None,None,0.004267,0.099071,3.273278
...,...,...,...,...,...,...,...,...,...
183,ground beef,pancakes,0.0,spaghetti,mineral water,None,0.003067,0.211009,3.532520
184,ground beef,None,tomatoes,0.0,spaghetti,mineral water,0.003067,0.031208,3.343671
185,olive oil,None,0.0,spaghetti,mineral water,milk,0.003333,0.050710,3.223089
186,mineral water,milk,shrimp,0.0,spaghetti,None,0.003067,0.063889,3.013627
187,tomatoes,None,0.0,spaghetti,mineral water,milk,0.003333,0.048733,3.097433

In [24]:
df_final.fillna(value=' ', inplace=True)
df_final.head()

,0,1,0,1,2,3,support,Confidance,lift
0,brownies,,cottage cheese,,,,0.003467,0.102767,3.238450
1,chicken,,light cream,,,,0.004533,0.075556,4.843305
2,escalope,,mushroom cream sauce,,,,0.005733,0.072269,3.790327
3,escalope,,pasta,,,,0.005867,0.073950,4.700185
4,fresh bread,,tomato juice,,,,0.004267,0.099071,3.273278

In [31]:
df_final.columns = ['lhs',1,'rhs',2,3,'support','confidance','lift','val']
df_final.head()

,lhs,1,rhs,2,3,support,confidance,lift,val
0,brownies,,cottage cheese,,,,0.003467,0.102767,3.238450
1,chicken,,light cream,,,,0.004533,0.075556,4.843305
2,escalope,,mushroom cream sauce,,,,0.005733,0.072269,3.790327
3,escalope,,pasta,,,,0.005867,0.073950,4.700185
4,fresh bread,,tomato juice,,,,0.004267,0.099071,3.273278

In [32]:
df_final['lhs'] = df_final['lhs'] + str(", ") + df_final[1]

df_final['rhs'] = df_final['rhs']+str(", ")+df_final[2] + str(", ") + df_final[3]

In [33]:
df_final.head()

,lhs,1,rhs,2,3,support,confidance,lift,val
0,"brownies,",,"cottage cheese, ,",,,,0.003467,0.102767,3.238450
1,"chicken,",,"light cream, ,",,,,0.004533,0.075556,4.843305
2,"escalope,",,"mushroom cream sauce, ,",,,,0.005733,0.072269,3.790327
3,"escalope,",,"pasta, ,",,,,0.005867,0.073950,4.700185
4,"fresh bread,",,"tomato juice, ,",,,,0.004267,0.099071,3.273278

In [34]:
df_final.drop(columns=[1,2,3],inplace=True)

In [35]:
df_final.sort_values('lift', ascending=False).head(10)

,lhs,rhs,support,confidance,lift,val
23,"pasta,","shrimp, 0.0,",,0.005067,0.322034,4.514494
11,"pasta,","shrimp, ,",,0.005067,0.322034,4.514494
6,"fromage blanc,","honey, ,",,0.003333,0.245098,5.178128
18,"fromage blanc,","0.0, honey,",,0.003333,0.245098,5.178128
152,"ground beef, pancakes","spaghetti, mineral water,",,0.003067,0.211009,3.532520
183,"ground beef, pancakes","0.0, spaghetti, mineral water",,0.003067,0.211009,3.532520
113,"light cream,","0.0, spaghetti, mineral water",,0.003200,0.205128,3.434066
9,"light cream,","olive oil, ,",,0.003200,0.205128,3.120612
21,"light cream,","olive oil, 0.0,",,0.003200,0.205128,3.120612
62,"light cream,","spaghetti, mineral water,",,0.003200,0.205128,3.434066

In [36]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

df1 = pd.read_csv('/content/data-2.csv', encoding="ISO-8859-1")
df1.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [37]:
df1.Country.value_counts().head(5)

United Kingdom    69753
Germany            1270
France             1049
EIRE                592
Spain               460
Name: Country, dtype: int64

In [38]:
df1 = df1[df1.Country == 'France']

In [39]:
df1['Description'] = df1['Description'].str.strip()

In [40]:
df1 = df1[df1.Quantity >0]

In [41]:
df1.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24.0,12/1/2010 8:45,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24.0,12/1/2010 8:45,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12.0,12/1/2010 8:45,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12.0,12/1/2010 8:45,0.85,12583.0,France
30,536370,21883,STARS GIFT TAPE,24.0,12/1/2010 8:45,0.65,12583.0,France
31,536370,10002,INFLATABLE POLITICAL GLOBE,48.0,12/1/2010 8:45,0.85,12583.0,France
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24.0,12/1/2010 8:45,1.25,12583.0,France
33,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18.0,12/1/2010 8:45,2.95,12583.0,France
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24.0,12/1/2010 8:45,2.95,12583.0,France
35,536370,22629,SPACEBOY LUNCH BOX,24.0,12/1/2010 8:45,1.95,12583.0,France

In [42]:
basket = pd.pivot_table(data=df1,index='InvoiceNo',columns='Description',values='Quantity', aggfunc='sum',fill_value=0)

In [43]:
basket.head()

Description,10 COLOUR SPACEBOY PEN,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE RED RETROSPOT,3 HOOK HANGER MAGIC GARDEN,3 PIECE SPACEBOY COOKIE CUTTER SET,3 TRADITIONAl BISCUIT CUTTERS SET,4 PINK DINNER CANDLE SILVER FLOCK,4 TRADITIONAL SPINNING TOPS,5 HOOK HANGER MAGIC TOADSTOOL,...,WOODLAND HEIGHT CHART STICKERS,WOODLAND STICKERS,WOODLAND CHARLOTTE BAG,WOODLAND DESIGN COTTON TOTE BAG,WOODLAND PARTY BAG + STICKER SET,WORLD WAR 2 GLIDERS ASSTD DESIGNS,WRAP GREEN PEARS,WRAP I LOVE LONDON,WRAP RED APPLES,ZINC METAL HEART DECORATION
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536370,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536974,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537065,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537463,0,0,0,0,0,0,0,0,0,0,...,0,12,10,0,0,0,0,0,0,0

In [44]:
basket['10 COLOUR SPACEBOY PEN'].head(10)

InvoiceNo
536370     0
536852     0
536974     0
537065     0
537463     0
537468    24
537693     0
537897     0
537967     0
538008     0
Name: 10 COLOUR SPACEBOY PEN, dtype: int64

In [45]:
def convert_into_binary(x):
    if x > 0:
        return 1
    else:
        return 0

In [46]:
basket_sets = basket.applymap(convert_into_binary)

In [47]:
basket_sets['10 COLOUR SPACEBOY PEN'].head(10)

InvoiceNo
536370    0
536852    0
536974    0
537065    0
537463    0
537468    1
537693    0
537897    0
537967    0
538008    0
Name: 10 COLOUR SPACEBOY PEN, dtype: int64

In [48]:
print(basket_sets['POSTAGE'].head())

basket_sets.drop(columns=['POSTAGE'],inplace=True)

InvoiceNo
536370    1
536852    1
536974    1
537065    1
537463    1
Name: POSTAGE, dtype: int64

In [50]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)

In [51]:
frequent_itemsets

      support                                           itemsets
0    0.083333                           (10 COLOUR SPACEBOY PEN)
1    0.104167                       (ALARM CLOCK BAKELIKE GREEN)
2    0.083333                      (ALARM CLOCK BAKELIKE ORANGE)
3    0.104167                        (ALARM CLOCK BAKELIKE PINK)
4    0.104167                         (ALARM CLOCK BAKELIKE RED)
..        ...                                                ...
240  0.083333  (PLASTERS IN TIN SPACEBOY, PLASTERS IN TIN WOO...
241  0.083333  (PLASTERS IN TIN SPACEBOY, RED RETROSPOT MINI ...
242  0.083333  (PLASTERS IN TIN WOODLAND ANIMALS, RED RETROSP...
243  0.083333  (PLASTERS IN TIN SPACEBOY, PLASTERS IN TIN WOO...
244  0.083333  (ALARM CLOCK BAKELIKE RED, ALARM CLOCK BAKELIK...

[245 rows x 2 columns]